In [ ]:
# Ethan Klein
# Converts all weather descriptions to categorical variables - then focuses them into 6 categories

In [20]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import datasets, linear_model, metrics

#load the weather dataset
weather_description = pd.read_csv("weather_description.csv")

desc = {}
counter = 0
for loc in weather_description:
    if (loc != 'datetime'):
        for elem in weather_description[loc].unique():
            if (elem not in desc):
                desc[elem] = counter
                counter += 1


#print(desc)

weather_description = weather_description.replace(desc)

#reduce the number of categories from 54 to around 6
#category 0 = nan
#category 1 = clear sky
#category 2 = clouds
#category 3 = light rain/snow 
#category 4 = heavy rain/snow/storm

#storing the 54 different description variables in different sub categories
category_0 = [0]
category_1 = [3]
category_2 = [2, 5, 6, 7, 11, 21, 26, 27, 28, 42, 44, 45]
category_3 = [1, 4, 8, 9, 10, 12, 15, 16, 18, 19, 23, 31, 32, 33, 34, 35, 38, 39, 43, 51, 52]
category_4 = [13, 14, 17, 20, 22, 24, 29, 30, 36, 37, 40, 41, 46, 47, 25, 48, 49, 50, 53, 54]

weather_description = weather_description.replace(category_0, 0)
weather_description = weather_description.replace(category_1, 1)
weather_description = weather_description.replace(category_2, 2)
weather_description = weather_description.replace(category_3, 3)
weather_description = weather_description.replace(category_4, 4)

#for loc in weather_description:
#    if (loc != "datetime"):
#        for elem in weather_description[loc].unique():
#            if elem in category_0:
#                weather_description.replace(elem, 0)
#            if elem in category_1:
#                weather_description.replace(elem, 1)
#            if elem in category_2:
#                weather_description.replace(elem, 2)
#            if elem in category_3:
#                weather_description.replace(elem, 3)
#            if elem in category_4:
#                weather_description.replace(elem, 4)
#print(weather_description)

weather_description.to_csv("converted.csv")

In [ ]:
# Data analytics - and heat maps

In [15]:
# First heat map - displays all the cities where weather data was gathered from

import gmaps
import gmaps.datasets
import pandas as pd

gmaps.configure(api_key="AIzaSyBO3ZiyID1_Y-ia_G19XVI4Y8w_g4mCMVM") # Google API key


#read the csv
df_all_cities = pd.read_csv("city_attributes.csv")

#drop the city and country headers
df_all_cities = df_all_cities.drop(['City', 'Country'], axis=1)

#convert dataframe into numpy array to generate heatmap
subset_nparray = df_all_cities[['Latitude', 'Longitude']]

#convert to a single array of tuples
tuples_array = [tuple(x) for x in subset_nparray.values]


heatmap_initial_cities = gmaps.Map()
heatmap_initial_cities.add_layer(gmaps.Heatmap(data=tuples_array))
heatmap_initial_cities

A Jupyter Widget

In [2]:
#function to read rows of csv into correct format
def _read_rows(f, column_types):
    f.readline()  
    reader = csv.reader(codecs.iterdecode(f, "utf-8"))
    rows = []
    for row in reader:
        typed_row = [
            column_type(cell) for column_type, cell in zip(column_types, row)
        ]
        rows.append(tuple(typed_row))
    return rows

In [53]:
# second heat map - top 5 hottest days - where they occured
# extract data from each city - get its top 100 hottest days, then compare all the cities against each other

import gmaps
import gmaps.datasets
import pandas as pd
import operator

gmaps.configure(api_key="AIzaSyBO3ZiyID1_Y-ia_G19XVI4Y8w_g4mCMVM") # Google API key

# read the csv - cities & temps
df_cities = pd.read_csv("city_attributes.csv")
df_temps = pd.read_csv("temperature.csv")

# dropping the datatime column
df_temps = df_temps.drop(['datetime'], axis=1)
df_cities = df_cities.drop(['Country'], axis=1)

# getting a list of all the headers (cities)
temp_headers = list(df_temps.columns.values)

# dict containing the cities and their hottest temps
hottest_city_temp = {}

hottest_temp = 0

# iterate through cities, and find their hottest days
for city in temp_headers:
    for temp in df_temps[city]:
        if temp > hottest_temp:
            hottest_temp = temp
    hottest_city_temp[city] = hottest_temp
    hottest_temp = 0

#get the top 5 hottest cities from the dictionary
top_five_hottest = dict(sorted(hottest_city_temp.items(), key=operator.itemgetter(1), reverse=True)[:5])

print(top_five_hottest)

#convert dataframe into numpy array to generate heatmap
#subset_nparray = df_cities[['Latitude', 'Longitude']]

counter = 0
for city in df_cities.iterrows():
    if city[1][0] not in top_five_hottest:
        df_cities = df_cities.drop([counter])
    counter += 1
        
print(df_cities)

df_cities = df_cities.drop(['City'], axis=1)

#convert dataframe into numpy array to generate heatmap
subset_nparray = df_cities[['Latitude', 'Longitude']]

#convert to a single array of tuples
tuples_array = [tuple(x) for x in subset_nparray.values]


heatmap_temp = gmaps.Map()
heatmap_temp.add_layer(gmaps.Heatmap(data=tuples_array))
heatmap_temp

{'Phoenix': 321.22000000000003, 'Tel Aviv District': 320.93000000000001, 'Haifa': 320.93000000000001, 'Eilat': 320.14999999999998, 'Las Vegas': 318.63999999999999}
                 City   Latitude   Longitude
6           Las Vegas  36.174969 -115.137222
7             Phoenix  33.448380 -112.074043
31  Tel Aviv District  32.083328   34.799999
32              Eilat  29.558050   34.948212
33              Haifa  32.815559   34.989170

A Jupyter Widget

In [1]:
# third heat map
# top 5 most windy cities

import gmaps
import gmaps.datasets
import pandas as pd
import operator

gmaps.configure(api_key="AIzaSyBO3ZiyID1_Y-ia_G19XVI4Y8w_g4mCMVM") # Google API key

# read the csv - cities & temps
df_cities = pd.read_csv("city_attributes.csv")
df_windspeed = pd.read_csv("wind_speed.csv")

# dropping the datatime column
df_windspeed = df_windspeed.drop(['datetime'], axis=1)
df_cities = df_cities.drop(['Country'], axis=1)

# getting a list of all the headers (cities)
windspeed_headers = list(df_windspeed.columns.values)

# dict containing the cities and their hottest temps
highest_city_windspeed = {}

highest_windspeed = 0

# iterate through cities, and find their hottest days
for city in windspeed_headers:
    for speed in df_windspeed[city]:
        if speed > highest_windspeed:
            highest_windspeed = speed
    highest_city_windspeed[city] = highest_windspeed
    highest_windspeed = 0
    
#get the top 5 cities with highest wind speed from the dictionary
top_five_windspeed = dict(sorted(highest_city_windspeed.items(), key=operator.itemgetter(1), reverse=True)[:5])

print(top_five_windspeed)

counter = 0
for city in df_cities.iterrows():
    if city[1][0] not in top_five_windspeed:
        df_cities = df_cities.drop([counter])
    counter += 1
        
print(df_cities)

df_cities = df_cities.drop(['City'], axis=1)

#convert dataframe into numpy array to generate heatmap
subset_nparray_wind = df_cities[['Latitude', 'Longitude']]

#convert to a single array of tuples
tuples_array_wind = [tuple(x) for x in subset_nparray_wind.values]


heatmap_windspeed = gmaps.Map()
heatmap_windspeed.add_layer(gmaps.Heatmap(data=tuples_array_wind))
heatmap_windspeed

{'Dallas': 50.0, 'Tel Aviv District': 49.0, 'Jerusalem': 49.0, 'Phoenix': 48.0, 'Eilat': 44.0}
                 City   Latitude   Longitude
7             Phoenix  33.448380 -112.074043
11             Dallas  32.783058  -96.806671
31  Tel Aviv District  32.083328   34.799999
32              Eilat  29.558050   34.948212
35          Jerusalem  31.769039   35.216331

A Jupyter Widget

# General Data Analysis

In [10]:
# plotting temperature data

import pandas as pd

#read the csv
temperature = pd.read_csv("temperature.csv")

#creating dictionary to store cities and their corresponding average temperate
cities_temp = {}

temperature = temperature.drop(['datetime'], axis=1)

city_temp_sum = 0

for city in temperature:
    print(temperature[city])

0               NaN
1        284.630000
2        284.629041
3        284.626998
4        284.624955
5        284.622911
6        284.620868
7        284.618824
8        284.616781
9        284.614738
10       284.612694
11       284.610651
12       284.608607
13       284.606564
14       284.604521
15       284.602477
16       284.600434
17       284.598390
18       284.596347
19       284.594304
20       284.592260
21       284.590217
22       284.588174
23       284.586130
24       284.584087
25       284.582043
26       284.580000
27       284.850000
28       286.260000
29       286.770000
            ...
45223           NaN
45224           NaN
45225           NaN
45226           NaN
45227           NaN
45228           NaN
45229           NaN
45230           NaN
45231           NaN
45232           NaN
45233           NaN
45234           NaN
45235           NaN
45236           NaN
45237           NaN
45238           NaN
45239           NaN
45240           NaN
45241           NaN
45242           NaN
45243           NaN
45244           NaN
45245           NaN
45246           NaN
45247           NaN
45248           NaN
45249           NaN
45250           NaN
45251           NaN
45252           NaN
Name: Vancouver, Length: 45253, dtype: float64
0               NaN
1        282.080000
2        282.083252
3        282.091866
4        282.100481
5        282.109095
6        282.117710
7        282.126324
8        282.134939
9        282.143553
10       282.152168
11       282.160782
12       282.169397
13       282.178011
14       282.186626
15       282.195240
16       282.203855
17       282.212469
18       282.221084
19       282.229698
20       282.238313
21       282.246927
22       282.255542
23       282.264156
24       282.272771
25       282.281385
26       282.290000
27       282.510000
28       284.440000
29       287.860000
            ...
45223    280.400000
45224    280.150000
45225    280.400000
45226    280.410000
45227    280.150000
45228    280.650000
45229    280.030000
45230    280.160000
45231    279.770000
45232    279.900000
45233    279.650000
45234    279.030000
45235    279.030000
45236    278.520000
45237    278.420000
45238    277.780000
45239    278.400000
45240    278.540000
45241    278.660000
45242    278.540000
45243    278.400000
45244    278.650000
45245    279.270000
45246    280.440000
45247    281.520000
45248    282.000000
45249    282.890000
45250    283.390000
45251    283.020000
45252    282.280000
Name: Portland, Length: 45253, dtype: float64
0               NaN
1        289.480000
2        289.474993
3        289.460618
4        289.446243
5        289.431869
6        289.417494
7        289.403119
8        289.388745
9        289.374370
10       289.359995
11       289.345621
12       289.331246
13       289.316871
14       289.302496
15       289.288122
16       289.273747
17       289.259372
18       289.244998
19       289.230623
20       289.216248
21       289.201874
22       289.187499
23       289.173124
24       289.158749
25       289.144375
26       289.130000
27       290.730000
28       293.020000
29       296.180000
            ...
45223           NaN
45224           NaN
45225           NaN
45226           NaN
45227           NaN
45228           NaN
45229           NaN
45230           NaN
45231           NaN
45232           NaN
45233           NaN
45234           NaN
45235           NaN
45236           NaN
45237           NaN
45238           NaN
45239           NaN
45240           NaN
45241           NaN
45242           NaN
45243           NaN
45244           NaN
45245           NaN
45246           NaN
45247           NaN
45248           NaN
45249           NaN
45250           NaN
45251           NaN
45252           NaN
Name: San Francisco, Length: 45253, dtype: float64
0               NaN
1        281.800000
2        281.797217
3        281.789833
4        281.782449
5        281.775065
6        281.767681
7        281.760297
8        281.752912
9        281.745528
10       281.738144
11       281.730760
12       281.723376
13       281.715992
14       281.708608
15       281.701224
16       281.693840
17       281.686456
18       281.679072
19       281.671688
20       281.664304
21       281.656920
22       281.649536
23       281.642152
24       281.634768
25       281.627384
26       281.620000
27       282.710000
28       285.050000
29       287.970000
            ...
45223    279.750000
45224    279.850000
45225    280.150000
45226    280.150000
45227    279.150000
45228    279.150000
45229    279.260000
45230    278.940000
45231    278.850000
45232    278.640000
45233    278.840000
45234    278.740000
45235    278.560000
45236    278.920000
45237    279.050000
45238    278.920000
45239    278.260000
45240    278.540000
45241    278.050000
45242    277.960000
45243    278.230000
45244    278.660000
45245    278.240000
45246    278.530000
45247    280.030000
45248    280.820000
45249    281.650000
45250    282.750000
45251    282.960000
45252    283.040000
Name: Seattle, Length: 45253, dtype: float64
0               NaN
1        291.870000
2        291.868186
3        291.862844
4        291.857503
5        291.852162
6        291.846821
7        291.841480
8        291.836139
9        291.830798
10       291.825457
11       291.820116
12       291.814775
13       291.809434
14       291.804093
15       291.798752
16       291.793411
17       291.788070
18       291.782729
19       291.777387
20       291.772046
21       291.766705
22       291.761364
23       291.756023
24       291.750682
25       291.745341
26       291.740000
27       293.970000
28       295.590000
29       297.930000
            ...
45223    292.460000
45224    294.740000
45225    295.970000
45226    296.740000
45227    289.157000
45228    295.480000
45229    293.760000
45230    292.470000
45231    291.210000
45232    290.420000
45233    289.340000
45234    289.070000
45235    288.420000
45236    287.220000
45237    286.550000
45238    286.220000
45239    285.220000
45240    284.550000
45241    284.220000
45242    283.630000
45243    283.210000
45244    282.930000
45245    285.640000
45246    289.020000
45247    292.030000
45248    293.550000
45249    295.680000
45250    295.960000
45251    295.650000
45252    294.930000
Name: Los Angeles, Length: 45253, dtype: float64
0               NaN
1        291.530000
2        291.533501
3        291.543355
4        291.553209
5        291.563063
6        291.572917
7        291.582772
8        291.592626
9        291.602480
10       291.612334
11       291.622188
12       291.632042
13       291.641896
14       291.651750
15       291.661605
16       291.671459
17       291.681313
18       291.691167
19       291.701021
20       291.710875
21       291.720729
22       291.730583
23       291.740438
24       291.750292
25       291.760146
26       291.770000
27       294.910000
28       296.300000
29       300.130000
            ...
45223    289.840000
45224    291.690000
45225    291.760000
45226    292.080000
45227    290.082000
45228    291.010000
45229    290.400000
45230    289.840000
45231    288.430000
45232    287.760000
45233    287.140000
45234    286.640000
45235    286.600000
45236    286.490000
45237    286.640000
45238    286.430000
45239    285.780000
45240    285.680000
45241    285.060000
45242    285.520000
45243    285.280000
45244    285.750000
45245    287.600000
45246    289.640000
45247    290.930000
45248    292.150000
45249    292.740000
45250    292.580000
45251    292.610000
45252    291.400000
Name: San Diego, Length: 45253, dtype: float64
0               NaN
1        293.410000
2        293.403141
3        293.392177
4        293.381213
5        293.370249
6        293.359284
7        293.348320
8        293.337356
9        293.326392
10       293.315428
11       293.304463
12       293.293499
13       293.282535
14       293.271571
15       293.260606
16       293.249642
17       293.238678
18       293.227714
19       293.216750
20       293.205785
21       293.194821
22       293.183857
23       293.172893
24       293.161928
25       293.150964
26       293.140000
27       296.380000
28       297.020000
29       300.240000
            ...
45223    288.150000
45224    289.340000
45225    289.750000
45226    289.470000
45227    283.482000
45228    289.480000
45229    288.150000
45230    286.510000
45231    285.480000
45232    283.420000
45233    283.090000
45234    282.580000
45235    282.420000
45236    282.020000
45237    281.710000
45238    283.350000
45239    283.120000
45240    281.550000
45241    281.560000
45242    280.560000
45243    281.550000
45244    280.970000
45245    282.960000
45246    285.350000
45247    287.520000
45248    289.540000
45249    290.610000
45250    291.340000
45251    292.150000
45252    291.640000
Name: Las Vegas, Length: 45253, dtype: float64
0               NaN
1        296.600000
2        296.608509
3        296.631487
4        296.654466
5        296.677445
6        296.700424
7        296.723403
8        296.746381
9        296.769360
10       296.792339
11       296.815318
12       296.838297
13       296.861275
14       296.884254
15       296.907233
16       296.930212
17       296.953191
18       296.976170
19       296.999148
20       297.022127
21       297.045106
22       297.068085
23       297.091064
24       297.114042
25       297.137021
26       297.160000
27       300.760000
28       303.480000
29       306.320000
            ...
45223    291.820000
45224    293.480000
45225    294.370000
45226    295.150000
45227    295.150000
45228    295.590000
45229    295.150000
45230    293.020000
45231    290.480000
45232    289.150000
45233    288.270000
45234    287.980000
45235    286.640000
45236    286.680000
45237    287.010000
45238    286.670000
45239    286.680000
45240    286.010000
45241    285.950000
45242    286.040000
45243    286.040000
45244    286.640000
45245    288.390000
45246    290.920000
45247    293.150000
45248    294.710000
45249    295.590000
45250    296.250000
45251    297.150000
45252    297.150000
Name: Phoenix, Length: 45253, dtype: float64
0               NaN
1        285.120000
2        285.154558
3        285.233952
4        285.313345
5        285.392738
6        285.472132
7        285.551525
8        285.630919
9        285.710312
10       285.789705
11       285.869099
12       285.948492
13       286.027886
14       286.107279
15       286.186673
16       286.266066
17       286.345459
18       286.424853
19       286.504246
20       286.583640
21       286.663033
22       286.742426
23       286.821820
24       286.901213
25       286.980607
26       287.060000
27       289.910000
28       291.470000
29       292.860000
            ...
45223    285.460000
45224    286.410000
45225    286.480000
45226    286.430000
45227    286.150000
45228    283.870000
45229    281.110000
45230    279.820000
45231    278.580000
45232    276.790000
45233    276.530000
45234    275.480000
45235    274.500000
45236    274.560000
45237    272.870000
45238    272.170000
45239    271.880000
45240    270.870000
45241    269.170000
45242    271.170000
45243    271.270000
45244    275.360000
45245    278.640000
45246    280.910000
45247    283.210000
45248    285.720000
45249    286.450000
45250    286.440000
45251    286.140000
45252    284.700000
Name: Albuquerque, Length: 45253, dtype: float64
0               NaN
1        284.610000
2        284.607306
3        284.599918
4        284.592530
5        284.585142
6        284.577755
7        284.570367
8        284.562979
9        284.555591
10       284.548204
11       284.540816
12       284.533428
13       284.526040
14       284.518653
15       284.511265
16       284.503877
17       284.496490
18       284.489102
19       284.481714
20       284.474326
21       284.466939
22       284.459551
23       284.452163
24       284.444775
25       284.437388
26       284.430000
27       285.310000
28       286.450000
29       287.840000
            ...
45223    278.020000
45224    278.550000
45225    279.640000
45226    280.150000
45227    277.080000
45228    279.040000
45229    276.260000
45230    274.260000
45231    273.710000
45232    273.600000
45233    273.590000
45234    273.250000
45235    273.060000
45236    272.870000
45237    272.760000
45238    271.960000
45239    271.560000
45240    271.560000
45241    272.060000
45242    273.370000
45243    273.770000
45244    275.070000
45245    276.760000
45246    283.160000
45247    286.720000
45248    289.560000
45249    290.700000
45250    289.710000
45251    289.170000
45252    285.180000
Name: Denver, Length: 45253, dtype: float64
0               NaN
1        289.290000
2        289.303649
3        289.338497
4        289.373345
5        289.408193
6        289.443041
7        289.477889
8        289.512737
9        289.547585
10       289.582433
11       289.617280
12       289.652128
13       289.686976
14       289.721824
15       289.756672
16       289.791520
17       289.826368
18       289.861216
19       289.896064
20       289.930912
21       289.965760
22       290.000608
23       290.035456
24       290.070304
25       290.105152
26       290.140000
27       295.000000
28       295.950000
29       297.160000
            ...
45223    298.780000
45224    300.030000
45225    300.530000
45226    300.400000
45227    296.307000
45228    295.770000
45229    292.660000
45230    290.900000
45231    290.640000
45232    289.640000
45233    289.010000
45234    287.140000
45235    287.700000
45236    287.920000
45237    288.710000
45238    289.710000
45239    290.530000
45240    290.520000
45241    289.770000
45242    289.770000
45243    290.030000
45244    290.400000
45245    291.400000
45246    291.900000
45247    294.040000
45248    294.700000
45249    295.820000
45250    296.040000
45251    295.280000
45252    292.020000
Name: San Antonio, Length: 45253, dtype: float64
0               NaN
1        289.740000
2        289.762974
3        289.830767
4        289.898560
5        289.966352
6        290.034145
7        290.101938
8        290.169731
9        290.237523
10       290.305316
11       290.373109
12       290.440902
13       290.508694
14       290.576487
15       290.644280
16       290.712073
17       290.779865
18       290.847658
19       290.915451
20       290.983244
21       291.051036
22       291.118829
23       291.186622
24       291.254415
25       291.322207
26       291.390000
27       293.970000
28       295.520000
29       297.440000
            ...
45223    296.680000
45224    297.840000
45225    298.210000
45226    298.210000
45227    294.857000
45228    295.080000
45229    293.720000
45230    292.840000
45231    292.530000
45232    292.210000
45233    291.210000
45234    290.520000
45235    289.150000
45236    288.280000
45237    287.010000
45238    286.350000
45239    285.550000
45240    284.680000
45241    283.500000
45242    283.580000
45243    285.020000
45244    285.880000
45245    286.950000
45246    288.790000
45247    289.650000
45248    290.480000
45249    291.020000
45250    291.150000
45251    289.590000
45252    287.880000
Name: Dallas, Length: 45253, dtype: float64
0               NaN
1        288.270000
2        288.297576
3        288.334343
4        288.371111
5        288.407879
6        288.444646
7        288.481414
8        288.518182
9        288.554949
10       288.591717
11       288.628485
12       288.665253
13       288.702020
14       288.738788
15       288.775556
16       288.812323
17       288.849091
18       288.885859
19       288.922626
20       288.959394
21       288.996162
22       289.032929
23       289.069697
24       289.106465
25       289.143232
26       289.180000
27       293.940000
28       294.880000
29       296.730000
            ...
45223    297.450000
45224    297.850000
45225    297.350000
45226    297.350000
45227    294.407000
45228    292.590000
45229    291.840000
45230    291.150000
45231    290.700000
45232    290.370000
45233    289.840000
45234    290.810000
45235    290.700000
45236    290.590000
45237    290.480000
45238    290.480000
45239    289.840000
45240    289.840000
45241    289.650000
45242    289.440000
45243    289.950000
45244    290.150000
45245    290.590000
45246    292.370000
45247    293.960000
45248    295.150000
45249    295.820000
45250    296.370000
45251    294.650000
45252    291.440000
Name: Houston, Length: 45253, dtype: float64
0               NaN
1        289.980000
2        289.997635
3        290.038151
4        290.078666
5        290.119181
6        290.159696
7        290.200211
8        290.240727
9        290.281242
10       290.321757
11       290.362272
12       290.402787
13       290.443302
14       290.483818
15       290.524333
16       290.564848
17       290.605363
18       290.645878
19       290.686394
20       290.726909
21       290.767424
22       290.807939
23       290.848454
24       290.888970
25       290.929485
26       290.970000
27       292.010000
28       292.860000
29       294.210000
            ...
45223    289.470000
45224    288.120000
45225    287.300000
45226    286.640000
45227    287.150000
45228    286.490000
45229    286.320000
45230    286.140000
45231    285.650000
45232    285.340000
45233    284.540000
45234    284.340000
45235    283.650000
45236    283.540000
45237    282.640000
45238    282.470000
45239    282.140000
45240    281.650000
45241    281.490000
45242    281.140000
45243    281.140000
45244    281.490000
45245    281.640000
45246    282.670000
45247    284.330000
45248    285.330000
45249    285.160000
45250    285.160000
45251    285.360000
45252    285.150000
Name: Kansas City, Length: 45253, dtype: float64
0               NaN
1        286.870000
2        286.893636
3        286.951401
4        287.009166
5        287.066931
6        287.124696
7        287.182462
8        287.240227
9        287.297992
10       287.355757
11       287.413522
12       287.471287
13       287.529053
14       287.586818
15       287.644583
16       287.702348
17       287.760113
18       287.817879
19       287.875644
20       287.933409
21       287.991174
22       288.048939
23       288.106704
24       288.164470
25       288.222235
26       288.280000
27       289.360000
28       289.580000
29       290.130000
            ...
45223    283.720000
45224    284.290000
45225    283.350000
45226    282.420000
45227    282.030000
45228    279.550000
45229    278.480000
45230    277.680000
45231    276.580000
45232    275.420000
45233    274.550000
45234    273.620000
45235    272.550000
45236    271.550000
45237    270.930000
45238    268.880000
45239    268.150000
45240    267.790000
45241    267.940000
45242    267.790000
45243    269.710000
45244    272.680000
45245    274.550000
45246    276.550000
45247    278.150000
45248    279.790000
45249    280.220000
45250    279.920000
45251    279.070000
45252    278.080000
Name: Minneapolis, Length: 45253, dtype: float64
0               NaN
1        286.180000
2        286.185246
3        286.199194
4        286.213142
5        286.227090
6        286.241038
7        286.254986
8        286.268935
9        286.282883
10       286.296831
11       286.310779
12       286.324727
13       286.338675
14       286.352623
15       286.366571
16       286.380519
17       286.394467
18       286.408415
19       286.422363
20       286.436312
21       286.450260
22       286.464208
23       286.478156
24       286.492104
25       286.506052
26       286.520000
27       287.630000
28       287.900000
29       289.020000
            ...
45223    293.560000
45224    295.320000
45225    295.300000
45226    295.360000
45227    292.490000
45228    291.140000
45229    290.140000
45230    289.420000
45231    288.860000
45232    288.020000
45233    287.010000
45234    287.010000
45235    286.160000
45236    285.160000
45237    284.310000
45238    284.020000
45239    283.450000
45240    282.730000
45241    282.450000
45242    282.320000
45243    281.870000